<%= render 'invoices/invoice_show' %>

<% if @invoice.current_state == "pending" %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= form_tag client_invoice_payment_path(@invoice) do %>
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= @invoice.freelancer.stripe_publishable_key %>"
        data-amount="<%= @invoice.descriptions.first.price_cents%>"
        data-name="Demo Site"
        data-description="Widget"
        data-image="/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true"
        data-currency="eur" >
      </script>
    <% end %>
    </div>
  </div>
<% end %>


<h1 class="btn btn-invoice">  <%= link_to 'Download PDF', client_invoice_path(@invoice, :format => :pdf), :target => '_blank' %></h1>
<h1 class="btn btn-invoice">  <%= link_to 'go back to dashboard', client_invoices_path %></h1>


