
<h2>Sign up</h2>
<p>Two easy steps to create your first invoice</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
 <%= render "devise/shared/google" %>

 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#signup">Or sign up with email</button>
 <div id="signup" class="collapse">
  <br>

  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true %>


<div class="form-actions">
  <%= f.button :submit, "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>


</div>
