
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h1>INVOICE</h1>
      <h6><%= Date.today.to_s %></h6>
    </div>
    <div class="col-xs-12 col-md-3 pull-md-right">
      <div class="freelancer-info text-center">
        <p><strong><%= current_user.freelancer.company_name %></strong></p>
        <p><%= current_user.freelancer.first_name %> <%= current_user.freelancer.last_name %></p>
        <p class="freelancer-info-email"> <%= current_user.email %> </p>
      </div>
    </div>
  </div>

    <%= simple_form_for @invoice, :html => { :class => 'invoice-form', :data => {:'parsley-validate' => ''} } do |f| %>
      <%= f.error_notification %>

      <%= simple_fields_for :client do |c| %>
        <%= c.error_notification %>
        <div class="client-info">
          <h4>Client info:</h4>

          <div class="row">
            <div class="col-xs-12 col-md-5">
             <%= c.input :first_name, label: 'Client first name', :input_html => {:data => { :'parsley-error-message' => "First Name is required please!", :'parsley-group' => "block1" } }  %>
            </div>
            <div class="col-xs-12 col-md-5">
            <%= c.input :last_name, label: 'Client last name', :input_html => {:data => { :'parsley-error-message' => "Last Name is required please!", :'parsley-group' => "block1" } } %>
            </div>
          </div>

          <%= c.input :company, :input_html => {:data => { :'parsley-error-message' => "Company is required please!" } } %>

          <%= c.input :company_number  %>

          <%= c.input :email, label: 'Client email', placeholder: 'user@domain.com', :html => { :id => 'invoice-email' } %>

        </div>
      <% end %>

      <hr>

      <%= simple_fields_for :descriptions do |d| %>
        <%= d.error_notification %>

        <div class="invoice-descriptions">
          <h4>Description:</h4>

          <div class="desc">
            <div class="row">
              <div class="col-xs-12 col-md-7">
                <%= d.input :description, :input_html => {:data => { :'parsley-error-message' => "Description is required please!"}} %>
              </div>
              <div class="col-xs-12 col-md-1">
                <%= d.input :unit, collection: 0..99, :input_html => {:data => { :'parsley-error-message' => "Digit!", :'parsley-type' => "digits", :'parsley-validation-threshold' => "1", :'parsley-trigger' => "keyup" }} %>
              </div>
              <div class="col-xs-12 col-md-1">
                <%= d.input :price, :input_html => {:data => { :'parsley-error-message' => "Price is required please!", :'parsley-type' => "number" }} %>
              </div>
              <div class="col-xs-12 col-md-1">
                <%= d.input :amount, :input_html => {:data => { :'parsley-error-message' => "Amount is required please!", :'parsley-type' => "number" }} %>
              </div>
              <div class="col-xs-12 col-md-2">
                <div class="plus-button">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" id="addNewDesc"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-2">
                <%= d.input :vat_tax, :input_html => {:data => { :'parsley-error-message' => "VAT is required please!" }} %>
              </div>
              <div class="col-xs-4 col-md-3 pull-right">
                <label>Subtotal</label>
              </div>
              <div class="col-xs-4 col-md-3 pull-right">
                <label>TOTAL</label>
              </div>
            </div>

          </div>


        </div>
      <% end %>

      <hr>

      <div class="invoice-info">
        <h4>Invoice info:</h4>

        <%= f.input :invoice_nr, label: 'Invoice number' %>
        <div class='row datetimerange'>
          <div class="col-xs-6">
            <%= f.input :invoice_date, as: :date_picker, input_html: {data: {date_options: {defaultDate: Date.today.year.to_s+'/'+Date.today.month.to_s+'/'+Date.today.day.to_s}}} %>
          </div>
          <div class="col-xs-6">
            <%= f.input :due_date, as: :date_picker %>
          </div>
        </div>
        <%= f.input :invoice_terms, label: 'Invoice Terms' %>
      </div>
    <%= f.button :submit, :class => 'btn-invoice' %>
  <% end %>

</div>
<% content_for(:after_js) do %>
  <script type="text/javascript">
      $('.invoice-form').parsley().on('field:validate', function (formInstance) {
        var ok = formInstance.isValid({group: 'block1', force: true}) || formInstance.isValid({group: 'block2', force: true});
        $('.invalid-form-error-message')
          .html(ok ? '' : 'You must correctly fill *at least one of these two blocks!')
          .toggleClass('filled', !ok);
        if (!ok)
          formInstance.validationResult = false;
      });
      // Date calendars
      $('.datetimepicker').datetimepicker({
        showTodayButton: true,
        showClear: true,
        showClose: true,
      });
      // Add a new field
        $('#addNewDesc').click(function(){
          $('div.desc').append('<span class="glyphicon glyphicon-remove" id="removeDesc" ></span>');
        });

        $("#addNewDesc").on('click', '.removeDesc', function(){
          $(this).closest('.row').remove();
        });

  </script>
<% end %>


