
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h1>INVOICE</h1>
      <h6><%= Date.today.to_s %></h6>
    </div>
    <div class="col-xs-12 col-md-3 pull-md-right">
      <div class="freelancer-info text-center">
        <p><strong><%= current_user.freelancer.company_name %></strong></p>
        <p><%= current_user.freelancer.first_name %> <%= current_user.freelancer.last_name %></p>
        <p class="freelancer-info-email"> <%= current_user.email %> </p>
      </div>
    </div>
  </div>

  <%= simple_form_for @invoice, :html => { :class => 'invoice-form', :data => {:'parsley-validate' => ''} } do |f| %>
    <%= f.error_notification %>

    <%= simple_fields_for @client do |c| %>
      <%= client_error_msg = f.error_notification.nil? ? c.error_notification : '' %>
      <div class="client-info">
        <h4>Client info:</h4>

        <div class="row">
          <div class="col-xs-12 col-md-5">
            <%= c.input :first_name, label: 'Client first name', :input_html => {:data => { :'parsley-error-message' => "First Name is required please!", :'parsley-group' => "block1" } }  %>
          </div>
          <div class="col-xs-12 col-md-5">
          <%= c.input :last_name, label: 'Client last name', :input_html => {:data => { :'parsley-error-message' => "Last Name is required please!", :'parsley-group' => "block1" } } %>
          </div>
        </div>

      <%= c.input :company, :input_html => {:data => { :'parsley-error-message' => "Company is required please!" } } %>

      <%= c.input :company_number  %>

      <%= c.input :email, label: 'Client email', placeholder: 'user@domain.com', :html => { :id => 'invoice-email' } %>

    </div>
  <% end %>

  <hr>

  <h4>Description:</h4>

  <div id="descriptions">
    <%= f.input :project_description, label: 'Project description' %>
    <%= f.simple_fields_for :descriptions do |description| %>
      <%= description.error_notification %>
      <%= render 'description_fields', f: description %>
    <% end %>

    <div class="links">
     <div class="plus-button">
        <%= link_to_add_association f, :descriptions do %>
          <span class="glyphicon glyphicon-plus desc-button" aria-hidden="true" id='add-description'></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="total-fields">
    <div class="row">
      <div class="col-xs-4 col-md-3">
      </div>
      <div class="col-xs-4 col-md-3 pull-right">
        <div><label>Subtotal</label></div>
        <input type="text" id="subtotal" disabled="disabled">
        <div><label>TOTAL</label></div>
        <input type="text" id="total" disabled="disabled">
      </div>
    </div>
  </div>

  <hr>

  <div class="invoice-info">

    <%= f.input :invoice_nr, label: 'Invoice number', :input_html => {:data => { :'parsley-error-message' => "Invoice number is required please!" } } %>
      <div class='row datetimerange'>
        <div class="col-xs-6">
          <%= f.input :invoice_date, as: :date_picker, input_html: {data: {date_options: {defaultDate: Date.today.year.to_s+'/'+Date.today.month.to_s+'/'+Date.today.day.to_s}}} %>
        </div>
        <div class="col-xs-6">
        <%= f.input :due_date, as: :date_picker %>
        </div>
      </div>
    <%= f.input :invoice_terms, label: 'Invoice Terms' %>
  </div>

  <!-- Warning ! if you change Edit email & send OR Save from below make sure to impact changes in the invoices_controller  -->
  <%= f.button :submit, value: "Edit email & Send", :class => 'btn-invoice' %>
  <%= f.button :submit, value: "Save", :class => 'btn-invoice' %>
  <% end %>

</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  </script>
<% end %>

