<div class="pdf-wrapper">
  <div class="inv-header">
    <h3>INVOICE</h3>
    <div class="row">
      <div class="col-xs-8">
        <% if @invoice.freelancer.company_name %>
          <h4> by <%= @invoice.freelancer.company_name %></h4>
        <% else %>
          <h4> by <%= @invoice.freelancer.first_name %> <%= @invoice.freelancer.last_name %></h4>
       <% end %>
      </div>
      <div class="col-xs-2">
        <%= @invoice.invoice_date %>
      </div>
    </div>
  </div> <!-- inv-header -->



  <div class="inv-summary row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-8">
         <h4>INVOICE TO</h4>
        </div>
        <div class="col-xs-4">
          <h4> 2500 €TOTAL </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <% if @invoice.client.company %>
            <h4> <%= @invoice.client.company %></h4>
          <% else %>
             <h4> <%= @invoice.client.first_name %> <%= @invoice.client.last_name %></h4>
          <% end %>
        </div>
        <div class="col-xs-2">
          <h5>due on <%= @invoice.due_date %></h5>
        </div>
      </div>
    </div>
  </div> <!-- inv-summary -->



  <div class="inv-description row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-5">
          <h5>DESCRIPTION</h5>
        </div>
        <div class="col-xs-1">
          <h5>UNIT </h5>
        </div>
        <div class="col-xs-2">
          <h5>PRICE</h5>
        </div>
        <div class="col-xs-2">
          <h5>AMOUNT</h5>
        </div>
        <div class="col-xs-1">
          <h5>VAT</h5>
        </div>
      </div>

      <% @invoice.descriptions.each do |description| %>
      <div class="row">
        <div class="col-xs-5">
          <%= description.description %>
        </div>
        <div class="col-xs-1">
          <%= description.unit %>
        </div>
        <div class="col-xs-2">
          <%= humanized_money_with_symbol(description.price_cents) %>
        </div>
        <div class="col-xs-2">
          <%= description.amount %>
        </div>
        <div class="col-xs-1">
          <%= description.vat_tax %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <div class="row margin-description">
            <div class="col-xs-11">
              <hr>
            </div>
            <div class="col-xs-6">
              <h5> 2400€ TOTAL </h5>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <p><strong>2400€</strong></p>
            </div>
            <div class="col-xs-12"><br></div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- inv-description-row -->


  <div class="inv-info row">
    <div class="nested-fields-header col-xs-12">
      <div class="row">
        <div class="col-xs-5">
          <h5>INVOICE BY</h5>
        </div>
        <div class="col-xs-2">
          <h5>INVOICE DATE</h5>
        </div>
        <div class="col-xs-2">
          <h5>DUE DATE</h5>
        </div>
        <div class="col-xs-3">
          <h5>PAYMENT DETAILS</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <% if @invoice.freelancer.company_name %>
            <p><%= @invoice.freelancer.company_name %></p>
          <% else %>
            <p><%= @invoice.freelancer.first_name %><%= @invoice.freelancer.last_name %></p>
          <% end %>
        </div>
        <div class="col-xs-2">
          <p><%= @invoice.invoice_date %></p>
        </div>
        <div class="col-xs-2">
          <p><%= @invoice.due_date %></p>
        </div>
        <div class="col-xs-3">
          <% if @invoice.freelancer.bank_nr %>
           <p><%= @invoice.freelancer.bank_nr %></p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12"><br></div>
            <div class="col-xs-5">
              <h5></h5>
            </div>
            <div class="col-xs-2">
              <h5>INVOICE NUMBER</h5>
            </div>
            <div class="col-xs-5">
              <h5>INVOICE TERMS</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <h5></h5>
            </div>
            <div class="col-xs-2">
              <p><%= @invoice.invoice_nr %></p>
            </div>
            <div class="col-xs-5">
              <p><%= @invoice.invoice_terms %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- inv-info -->
</div>
