<h3>To: <%= @invoice.client.email %></h3>
<%= form_tag send_email_invoice_path(@invoice) do %>
<h3>Subject: Invoice from <%= current_user.freelancer.first_name %></h3>

<%= text_area_tag :text, current_user.freelancer.email_text, rows: "8", cols: "100" %>
<div class="checkbox"> <label for ="save">
  <%= check_box_tag :save, 1, checked: true %>
  <p>Save this template for invoice I will be sending</p>
</label>
<div class="pull-right">
<%= submit_tag "Send the invoice", class: 'btn btn-flashy' %>
<% end %>
</div>
</div>