<h1>Hi @freelancer name</h1>

<% @invoices.each do |invoice| %>
  <p> Invoice Nr.: <%= invoice.invoice_date %></p>
  <p> Date: <%= invoice.invoice_date %></p>
  <%= link_to "Show", invoice_path(invoice) %>
<% end %>
<br>
<%= link_to "Create Invoice", new_invoice_path %>
<div>
  <%= link_to "Dashboard", dashboard_path %>
</div>
<div>
<%= link_to "Freelancer settings", edit_freelancer_path %>
</div>