<div class="container invoice-wrapper">
  <% @invoices.each do |invoice| %>
  <%= invoice.client.first_name%>
  <%= invoice.client.last_name %>
  <p>$300</p>
  <p>pending</p>
  <%= invoice.due_date %>
  <ul class="icons-inline">
    <li>
      <%= link_to invoice_path(invoice) do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_invoice_path(invoice) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </li>
    <li>
      <%= link_to invoice_path(invoice), method: :delete,
      data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
  <% end %>
