
<div class="no-invoice <%= 'hidden' unless @invoices.blank? %>">

  <% random_giphy = ["https://media.giphy.com/media/l0K4kb8OCuf19HbwY/giphy.gif", "https://media.giphy.com/media/IThjAlJnD9WNO/giphy.gif", "https://media.giphy.com/media/kZzY6eKKPdIjK/giphy.gif", "https://media.giphy.com/media/l0MYBV2Ogo473zMJy/giphy.gif", "https://media.giphy.com/media/l46CjoMYO5n2hQnWE/giphy.gif", "https://media.giphy.com/media/l0K4eqUA7awmShAqc/giphy.gif", "https://media.giphy.com/media/9qIQcHFew1dAs/giphy.gif", "https://media.giphy.com/media/xT8qBjoId2zA9cCyTS/giphy.gif", "https://media.giphy.com/media/yoJC2A59OCZHs1LXvW/giphy.gif", "https://media.giphy.com/media/qQh0DBncuFJwQ/giphy.gif", "https://media.giphy.com/media/papraODOQ51yE/giphy.gif", "https://media.giphy.com/media/m0MfjLtKOgTPG/giphy.gif" ] %>
  <div class="row">
    <div class="text-center">
      <%= image_tag random_giphy.sample %>
      <h3><%= t('invoice.index.hello') %></h3>

      <h3><%= t('invoice.index.no-invoice') %></h3>
      <h3><%= t('invoice.index.create-1-invoice') %></h3>
      <br>
      <%= link_to t('invoice.index.btn-1-invoice') , new_invoice_path, class: "btn btn-flashy" %>
    </div>
  </div>

</div>

<% if !@invoices.blank? %>
<!-- rendering newsfeed -->
<div class="notif-wrapper">
<ul>
<%= render_activities(@activities[0..4]) %>
<div>
<%= link_to '#', id: "see-activities" do %>
<p class="text-center see-more">...See more activities...</p>
<% end %>
<div class="hidden" id="activities">
<%= render_activities(@activities[4...50]) %>
<a href="#"> <p id="hide-activities" class="text-center see-more">...Hide activities...</p></a>
</div>
</div>

</ul>

</div>

<!--  -->


<% current_user.freelancer.invoices.each do |invoice| %>
<%= link_to invoice_path(invoice) do %>
<div class="invoice-wrapper" id="<%= invoice.id %>">
 <div class="row">
  <!-- <div class="col-xs-1 col-md-1"> <%= check_box('invoice', 'validated')  %> </div> -->
  <div class="col-xs-6 col-md-2"> <%= invoice.client.first_name %> <%= invoice.client.last_name %> </div>
  <div class="col-xs-5 col-md-2"> <%= invoice.client.company %></div>
  <div class="col-xs-offset-1 col-xs-3 col-md-1 col-sm-offset-0"> <p><%= rand(100..500) %>€</p></div>
  <!-- TODO sydney change ruby interpolation to model maybe ?  -->
  <div class="col-xs-3 col-md-1"> <i> <p><%= invoice.transitions[0].nil? ? "draft" : invoice.current_state %></p> </i></div>
  <div class="col-xs-6 col-md-4"> <%= invoice.due_date.to_formatted_s(:long) %> </div>
  <div class="col-xs-offset-7 col-xs-6 col-md-2 col-sm-offset-0">
    <ul class="icons-inline">
             <!--  <li>

                 <i class="fa fa-money" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="mark as paid"></i>

               </li> -->
               <li>
                 <%= link_to edit_invoice_path(invoice) do %>
                 <i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit your invoice"></i>
                 <% end %>
               </li>
               <li>
                <%= link_to edit_email_invoice_path(invoice) do %>
                <i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Send your invoice"></i>
                <% end %>
              </li>
              <li>
                <%= link_to invoice_path(invoice), method: :delete, remote: true,
                data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete invoice"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
