<div class="white-paper">

  <div class="invoice-header">
    <h3>INVOICE</h3>
    <% if @invoice.freelancer.company_name %>
      <h4> by <%= @invoice.freelancer.company_name %></h4>
    <% else %>
       <h4> by <%= @invoice.freelancer.first_name %> <%= @invoice.freelancer.last_name %></h4>
    <% end %>
  </div>

  <div class="date-in-header">
    <%= @invoice.invoice_date %>
  </div>

  <div class="subheader-to-client">
    <p>INVOICE TO</p>
    <% if @invoice.client.company %>
      <h4> <%= @invoice.client.company %></h4>
    <% else %>
       <h4> <%= @invoice.client.first_name %> <%= @invoice.client.last_name %></h4>
    <% end %>
  </div>

  <div class="subheader-total">
    <h2>TOTAL $ !?</h2>
    <p>due on <%= @invoice.due_date %></p>
  </div>

  <div class="nested-fields">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <label for="#">Description</label>
      </div>
      <div class="col-xs-12 col-md-1">
        <label for="#">Unit</label>
      </div>
      <div class="col-xs-12 col-md-2">
        <label for="#">Price</label>
      </div>
      <div class="col-xs-12 col-md-1">
        <label for="#">Amount</label>
      </div>
      <div class="col-xs-12 col-md-1">
        <label for="#">VAT</label>
      </div>
    </div>
  </div>

  <% @invoice.descriptions.each do |description| %>

  <div class="nested-fields">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= description.description %>
      </div>
      <div class="col-xs-12 col-md-1">
        <%= description.unit %>
      </div>
      <div class="col-xs-12 col-md-2">
        <%= humanized_money_with_symbol(description.price_cents) %>
      </div>
      <div class="col-xs-12 col-md-1">
        <%= description.amount %>
      </div>
      <div class="col-xs-12 col-md-1">
        <%= description.vat_tax %>
      </div>

    </div>

  </div>

  <% end %>

</div>


<h1 class="btn btn-invoice">  <%= link_to 'go back to dashboard', dashboard_path %></h1>
