
<nav class="navbar-default navbar-fixed-side hidden-xs" id="sidebar">
  <!-- normal collapsible navbar markup -->
  <br>
  <ul class="list-unstyled">
  <h3 class="sidebar-title"><%= current_user.freelancer.first_name %></h3>
   <% if user_signed_in? %>
   <li><%= link_to "Create Invoice", new_invoice_path, class: "btn btn-invoice" %></li>
   <li> <%= link_to "Dashboard", dashboard_path, id: "navlink", class: current_link(dashboard_path) %></li>
   <li> <%= link_to "Settings", edit_freelancer_path, id: "navlink", class: current_link(edit_freelancer_path) %></li>
   <li> <%= link_to "Profile", freelancer_path, id: "navlink", class: current_link(freelancer_path) %></li>

  </ul>
  <div class="btn btn-navbar navlink" id="logout-freelance"> <%= link_to destroy_user_session_path,  method: :delete do %>
    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
</nav>
<% end %>
