<% unless current_user.client %>
  <nav class="navbar-default navbar-fixed-side hidden-xs" id="sidebar">
    <!-- normal collapsible navbar markup -->
    <br>
    <ul class="list-unstyled">
      <h3 class="sidebar-title"><%= current_user.freelancer.first_name %></h3>
       <% if user_signed_in? %>
       <li class="sidebar-nav"><%= link_to t('btn-create-invoice'), new_invoice_path, class: "btn btn-invoice"%></li>
       <li class="sidebar-nav"> <%= link_to t('dashboard'), dashboard_path, id: "navlink", class: current_link(dashboard_path) %></li>
       <li class="sidebar-nav"> <%= link_to t('settings'), edit_freelancer_path, id: "navlink", class: current_link(edit_freelancer_path) %></li>
       <li class="sidebar-nav"> <%= link_to t('profile'), freelancer_path, id: "navlink", class: current_link(freelancer_path) %></li>
    </ul>
    <div class="btn btn-navbar navlink" id="logout-freelance"> <%= link_to destroy_user_session_path,  method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </div>
  </nav>
  <% end %>

<% else %>
  <nav class="navbar-default navbar-fixed-side hidden-xs" id="sidebar">
    <!-- normal collapsible navbar markup -->
    <br>
    <ul class="list-unstyled">
      <h3 class="sidebar-title"><%= current_user.client.first_name %></h3>
       <% if user_signed_in? %>
       <li class="sidebar-nav"> <%= link_to t('dashboard'), client_invoices_path, id: "navlink", class: current_link(client_invoices_path) %></li>
       <li class="sidebar-nav"> <%= link_to t('settings'), edit_client_path, id: "navlink", class: current_link(edit_client_path) %></li>
       <li class="sidebar-nav"> <%= link_to t('profile'), client_path, id: "navlink", class: current_link(client_path) %></li>
    </ul>
    <div class="btn btn-navbar navlink" id="logout-freelance"> <%= link_to destroy_user_session_path,  method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </div>
  </nav>
  <% end %>
<% end %>
