<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="form-inputs">
      <h2>Your details</h2>
      <h4>First Name</h4>
      <strong> <%= @freelancer.first_name  %></strong>
      <h4>Last Name</h4>
      <strong> <%= @freelancer.last_name %></strong>
       <h2>Your company details</h2>
      <h4>Company Name</h4>
      <strong> <%= @freelancer.company_name %></strong>
      <h4>Address</h4>
      <strong> <%= @freelancer.address %></strong>
      <h4>Company number</h4>
      <strong> <%= @freelancer.company_nr %></strong>
      <h4>Vat</h4>
      <strong> <%= @freelancer.vat %></strong>

      <h2>Bank details</h2>
      <h4>Iban</h4>
      <strong> <%= @freelancer.iban %></strong>
      <h4>Bank Number</h4>
      <strong> <%= @freelancer.bank_nr %></strong>
      <h4>Branch Number (Sort code)</h4>
      <strong> <%= @freelancer.branch_nr %></strong>
    </div>
  </div>
</div>
